.popup__input_padding_unequal {
  padding-top: 8px;
  padding-bottom: 6px;
  margin-bottom: 31px;
}

@media screen and (max-width: 523px) {
  .popup__input_padding_unequal {
    margin-bottom: 30px;
  }
}
