.search__error {
  height: 24px;
  padding-top: 12px;
  order: 2;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}


@media screen and (max-width: 767px) {
  .search__error {
    order: 1;
  }
}

