.articles_padding-bottom_m {
  padding-bottom: 0px;
}

@media screen and (max-width: 1440px) {
  .articles_padding-bottom_m {
    padding-bottom: calc( (100vw - 768px)/(1440 - 768) * (0 - 30) + 30px);
    
  }
}

@media screen and (max-width: 767px) {
  .articles_padding-bottom_m {
    padding-bottom: calc( (100vw - 320px)/(767 - 320) * (30 - 12) + 12px);
  }
}
