.header__button_type_menu_close {
  position: absolute;
  top: 16px;
  right: calc( (100vw - 320px)/(768 - 320) * (60 - 16) + 16px);
  z-index: 7;
  display: none;
}

@media screen and (max-width: 767px) {
  .header__button_type_menu_close  {
    display: block;
  }
}
