@import url(./__circle/preloader__circle.css);
@import url(./__title/preloader__title.css);
@import url(./_is-opened/preloader_is-opened.css);

.preloader {
  padding: 80px;
	margin: 0;
	background-color: #333;
  background: #F5F6F7;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  display: none;
}

@media screen and (max-width: 1440px) {
  .preloader {
    padding: calc( (100vw - 768px)/(1440 - 768) * (80 - 20) + 20px);
  }
}

@media screen and (max-width: 768px) {
  .preloader {
    padding: 10px;
  }
}
