@import url(./__copyright/footer__copyright.css);
@import url(./__navigation/footer__navigation.css);
@import url(./__list/footer__list.css);
@import url(./__link/footer__link.css);
@import url(./__social/footer__social.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./__list-item/footer__list-item.css);

.footer {
  margin: 0px auto;
  max-width: 1440px;
  height: 51px;
  padding-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 1440px) {
  .footer {
    height: calc( (100vw - 768px)/(1440 - 768) * (51 - 45) + 45px);
    padding-top: calc( (100vw - 768px)/(1440 - 768) * (29 - 20) + 20px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    height: calc( (100vw - 320px)/(768 - 320) * (45 - 157) + 157px);
    flex-wrap: wrap;
    padding-top: 19px;
    padding-top: calc( (100vw - 320px)/(768 - 320) * (20 - 19) + 19px);
  }
}
