.popup__form  {
  padding: 34px 36px 0px 36px;  
  margin: 0px;
}

@media screen and (max-width: 523px) {
  .popup__form {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
