@import url(./_padding/_equal/popup__input_padding_equal.css);
@import url(./_padding/_unequal/popup__input_padding_unequal.css);



.popup__input {
  width: 99.8%;
  padding-right: 2px;
  padding-left: 0px;
  margin-bottom: 3px;
  background: #ffffff;
  border: none;
  border-bottom: 1px solid #cccccc;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__input:focus {
  border-bottom: 1px solid #000000;
}

.popup__input:invalid:not(:placeholder-shown) ~ .popup__button {
  width: 100.5%;
  margin-left: -1px;
}

.popup__input::-moz-placeholder { color: #cccccc; }
.popup__input::-webkit-input-placeholder { color:#cccccc; }


