.header__icon-logout {
  top: 15px;
  right: 10px;
  position: absolute;
  z-index: 4;
}

@media screen and (max-width: 1440px) {
  .header__icon-logout {
    top: calc( (100vw - 768px)/(1440 - 768) * (15 - 11) + 11px);
    right: calc( (100vw - 768px)/(1440 - 768) * (10 - 8) + 8px);
  }
}

@media screen and (max-width: 767px) {
  .header__icon-logout {
    top: 18px;
    right: 99px;
  }
}
